.aspect_container {
    position:absolute;
    margin:10px;
    border:solid;
    border-width:1px;
    border-color:black;
    background-color:rgb(250, 250, 250);
    box-shadow:5px 5px;
    height:200px;
    width:300px;
}

.aspect_text {
    position:absolute;
    height:inherit;
    width:inherit;
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-family:'Brush Script MT', cursive;
    text-wrap:wrap;
    overflow:hidden;
    white-space:pre-line;
}

.aspect_textarea {
    position:absolute;
    height:195px;
    width:295px;
    text-align:center;
    justify-content:center;
    font-family:'Brush Script MT', cursive;
    background-color:inherit;
    box-shadow:inherit;
    border:inherit;
    outline:none;
    resize:none;
}

.aspect_xbutton {
    position:absolute;
    margin-left:280px;
    width:20px;
    height:20px;
}